{% extends 'core/base_no_nav.html' %}
{% load bootstrap4 %}

{% block title %} Passwort vergessen | {% endblock %}

{% block content %}
    <div id="password-reset-view">
        <div class="container-box">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h1>Passwort vergessen</h1>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <p class="h4">>E-Mail wurde versendet</p>
                        <p>Wir haben dir eine E-Mail geschrieben mit dem Link zum Formular für das Zurücksetzten deines Passwortes.<br>
                            Falls du keine findest schau bitte nochmal in deinem Spam Ordner nach.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

