{% extends 'core/base_no_nav.html' %}
{% load bootstrap4 %}

{% block title %} Passwort vergessen | {% endblock %}

{% block content %}
    <div id="password-reset-view">
        <div class="container-box">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h1>Passwort vergessen</h1>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <p class="h4"> Passwort zurücksetzen abgeschlossen</p>
                        <p>Du hast dein Passwort erfolgreich zurückgesetzt und kannst dich wieder in dein Account einloggen.</p>
                        <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

