{% extends 'core/base_no_nav.html' %}
{% load bootstrap4 %}

{% block title %} Passwort vergessen | {% endblock %}

{% block content %}
    <div id="password-reset-view">
        <div class="container-box">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h1>Passwort vergessen</h1>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <p class="h4">Neues Passwort eingeben</p>
                        <p>Bitte gib dein neues Passwort zweimal ein, damit wir überprüfen können, ob es richtig eingetippt
                            wurde.
                        </p>
                        <form method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <button type="submit" class="btn btn-primary mt-3">Mein Passwort ändern</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

