{% extends 'core/base.html' %}

{% block title %} Zeit Eintrag | {% endblock %}
{% block breadcrumb %}
    <nav class="ml-auto" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'projects' %}">Projekte</a></li>
            <li class="breadcrumb-item" aria-current="page"><a
                    href="{% url 'project' project_id=project.id %}">Projekt: {{ project.title }}</a></li>
            <li class="breadcrumb-item" aria-current="page"><a
                    href="{% url 'timeentry_edit' project_id=project.id time_entry_id=time_entry.id %}">Zeit Eintrag</a>
            </li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-box">
        <div class="container-fluid">
            <div id="edit_profile-app">
                <div class="row">
                    <div class="col-12">
                        <h1>Zeit Eintrag bearbeiten</h1>
                    </div>
                </div>
                <hr>
                <form action="" method="post" class="form mt-3">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="hours">Stunden</label>
                            <select name="hours" class="custom-select">
                                <option value="0" {% if forloop.counter == hours %}selected="selected"{% endif %}>0
                                    Stunden
                                </option>
                                {% for i in "x"|rjust:"10" %}
                                    <option value="{{ forloop.counter }}"
                                            {% if forloop.counter == hours %}selected="selected"{% endif %}>{{ forloop.counter }}
                                        Stunden
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="mins">Minuten</label>
                            <select name="minutes" class="custom-select">
                                <option value="0" {% if forloop.counter == minutes %}selected="selected"{% endif %}>0
                                    min
                                </option>
                                {% for i in "x"|rjust:"59" %}
                                    <option value="{{ forloop.counter }}"
                                            {% if forloop.counter == minutes %}selected="selected"{% endif %}>{{ forloop.counter }}
                                        min
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="date">Datum</label>
                        <input type="date" class="form-control" id="id_date" name="date"
                               value="{{ time_entry.date|date:'Y-m-d' }}"/>
                    </div>
                    <button type="submit" name="timeentry_form" class="btn btn-primary">Zeit speichern</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}